.backgorund-color-red{
    background-color: red;
}

.backgorund-color-blue{
    background-color: blue;
}

.backgorund-color-blue-violet{
    background-color: blueviolet;
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}

